<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Link List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


<article class="post" th:fragment="post-fragment" th:id="'post-' + ${post.id}">

        <div th:unless="${#strings.contains(#httpServletRequest.getRequestURI(), '/dashboard')}" class="vote-cont">
            <button type="button" name="upvote" value="upvote" class="upvote-btn"></button>
            <span th:text="${post.voteCount}"></span>
            <button type="button" name="downvote" value="downvote" class="downvote-btn"></button>
        </div>

    <div class="post-content">
        <div class="title">
            <a th:href="@{/post/{id}(id=${post.id})}" target="_blank">[[${post.title}]]</a>

            <div th:if="${#strings.contains(post.postUrl, 'http://') or #strings.contains(post.postUrl, 'https://') or #strings.contains(post.postUrl, 'www.')}">
                <a class="post-url" th:href="${post.postUrl}" target="_blank">
                    <span th:text="${#strings.substringBefore(#strings.substringAfter(post.postUrl, '://'), '/')}"></span>
                </a>
            </div>

            <div th:if="${post.postText} != null">
                <span th:text="${post.postText}"></span>
            </div>

            <div class="meta">

                <div class="post-details" th:block th:with="userId=${post.getUserId()}">
                    <span>Posted by</span>
                    <div class="avatar-thumbnail" th:with="user=${userRepository.findUserById(userId)}">
                        <img class="avatar-img" th:src="${user.userAttributes.profilePicture}">
                    </div>
                    <a th:href="@{/user/{id}(id=${post.userId})}" th:text="${post.userName}"></a>
                    <span>on</span>
                    <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
                    |
                    <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]]
                        comment</a>
                    <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]]
                        comments</a>
                </div>
            </div>
        </div>
    </div>
</article>


</body>