* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.flex-col{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.page-layout-padding{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:800%;
}

.homepage-post-cont{
    display: flex;
    flex-direction: column;
    width 90vw;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.homepage-post-cont li{
    width:60vw;
}

.sort-cont{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-cont ul{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 1rem 2rem;
    border: 1px solid black;
    border-radius: 15px;
}

.sort-cont ul li{
    list-style: none;
      background: none;
      border: none;
      padding: .5rem;
      cursor: pointer;
      text-decoration: none;
      color: #225ca3;
      font-size: 100%;
      font-weight: bold;
      transition: color .1s;
      border: 1px solid #225ca3;
      border-radius: 15px;
      width: 6rem;
      display: inline-table;
      text-align: center;
}

.sort-cont ul li:hover {
  background: #3486eb;
  color: white;
}

.sort-cont ul li a{
    color: inherit;
    text-decoration: none;
}

.dashboard-cont{
    display: flex;
    gap: 2rem;
}

.edit-post-page-cont{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.dashboard-post-btn-cont{
    display: flex;
    gap: 1rem;
}

.dashboard-postList-cont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.btn-no-style {
  background: none;
  border: none;
  padding: .5rem;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  border: 1px solid #225ca3;
  border-radius: 0%;
}

.btn-no-style:hover {
  background: #3486eb;
  color: white;
}

.delete-post-btn {
  border: 1px solid #d41414;
  border-radius: 0%;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  display: flex;
  gap: 1rem;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post-url{
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.dashboard-textarea{
    width: 30vw;
    height: 25vh;
    max-height: 30vh;
    max-width: 30vw;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.vote-cont{
    display:flex;
    flex-direction: column;
}

.vote-cont span{
    text-align: center;
}

.upvote-btn {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 25px;
  cursor: pointer;
  background: url('https://i.stack.imgur.com/iqN2k.png');
  background-position: 0 -25px;
}

.downvote-btn {
   rotate : 180deg;
   display: inline-block;
   overflow: hidden;
   width: 40px;
   height: 25px;
   cursor: pointer;
   background: url('https://i.stack.imgur.com/iqN2k.png');
   background-position: 0 -25px;
}

.downvote-btn.on{
  background-position: 0 2px;
}

.upvote-button.on {
  background-position: 0 2px;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.downvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.flash-message {
  background-color: #ffb6c1;
  color: red;
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}

.post-details{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.avatar-cont{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-img{
    width: 100%;
    height: auto;
    display: block;
}

.avatar-thumbnail{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
}