<!DOCTYPE html>
<html lang="en" xmlns:th="hhttp://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="/js/upvote.js"></script>-->
</head>
<body>

    <div class="flex-col" layout:fragment="content">
        <div class="page-layout-padding">

<!--        Filter Component-->
        <div class="sort-cont">
            <ul>
                <li>
                    <a th:href="@{/posts/new}">Newest</a>
                </li>
                <li>
                    <a th:href="@{/posts/old}">Oldest</a>
                </li>
                <li>
                    <a th:href="@{/posts/top}">Top</a>
                </li>
                <li>
                    <a th:href="@{/posts/comments/top}">Conversation</a>
                </li>
            </ul>
        </div>

<!--        Post List Section-->
        <ol class="homepage-post-cont">
            <li th:each="post : ${postList}" class="post-list">
                <div th:insert="fragments/post-fragment :: post-fragment"></div>
            </li>
        </ol>
        <div th:if="${loggedIn}" >
            <script src="/js/upvote.js"></script>
        </div>
    </div>

    </div>

</body>

</html>