
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
<!--    <title>[[${user.username}]]</title>-->
    <title></title>
</head>

<body>

<div class="dashboard-cont" layout:fragment="content">
    <section>
        <h1>Hello</h1>
        <div th:insert="fragments/user-badge-fragment"></div>
    </section>

    <section th:if="${postList.size() > 0}">
        <ol class="dashboard-postList-cont">
            <li th:each="post : ${postList}">
                <div th:insert="fragments/post-fragment :: post-fragment"></div>
            </li>
        </ol>
    </section>

</div>

</body>
</html>